# Ignore all results files
**/results/**/*.csv
**/results/**/*.json
**/results/*.zip
**/rawresults/*
**/rawresultsOLD/*
**/results.zip
**/rawResults.zip
**/cleanedResults/*

#Ignore Apple system file
.DS_Store

#Ignore _draft folder
_draft/**

# Ignore log files
*.log

#Ignore modules folder
CollectData/modules/**
